<h1>Project listing page</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @project.each do |project| %>
      <tr>
        <td><%= project.name %></td>
          <% if can? :update, project %>
            <td><%= link_to 'Delete', project_path(project), method: :delete, data:{confirm: "Are you sure you want to delete"} %></td>
          <% end %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Generate Bug', new_project_bug_path(project) %></td>
          <td><%= link_to 'View Bugs', project_bugs_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
<%= link_to 'Create New',new_project_path() %>