<h1>Bugs listing page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr><td><%= bug.title %></td>
        <td><%= bug.description %></td>
      <td><%= bug.deadline %></td>  
      <td><%= link_to 'Edit Bug', edit_project_bug_path(@project,bug) %></td>
      <td><%= link_to 'Delete', project_bug_path(@project,bug), method: :delete, data:{confirm: "Are you sure you want to delete"} %></td>
    <% end %>
  </tbody>
</table> 
<%= link_to 'Create New',new_project_bug_path()  %>